{% extends "bootstrap/base.html" %}

{% block title %}Paul's Flask Site{% endblock %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Shadows+Into+Light" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/titatoggle.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('.static', filename='js/main.js') }}"></script>
{{super()}}
{{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
<nav class="font navbar navbar-expand-lg navbar-light light-nav" id="navbar">
  <a class="navbar-brand" href="{{ url_for('index') }}">Paul's Flask Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.path == "/" or request.path == "/index" %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.path == "/login" %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
      {% if current_user.is_anonymous %}
        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      </li>
      {% if current_user.is_anonymous %}
        {% if request.path == "/register" %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
        {% endif %}
        <a class="nav-link" href=" {{ url_for('register') }}">Register</a>
      {% endif %}
      </li>
      {% if current_user.is_authenticated %}
        {% if request.path == "/user/{{current_user.username}}" %}
          <li class="nav-item active">
          {% else %}
          <li class="nav-item">
        {% endif %}
        <a class="nav-link" href=" {{ url_for('profile', username=current_user.username) }}">Profile</a>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          This Is Useless
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">This is SUPER Useless</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container" id="econtent">
  {% block extended_content %}{% endblock %}
</div>
<footer class="footer font light" id="footer">
    <div class="container">
      <span class="text-muted">
        Copyright © <a href="https://paul.systems">Paul Gellai</a>, 2019. All rights reserved. <button class="btn btn-dark" type="button" id="theme" name="theme" onclick="toggleTheme()">Light Theme</button>
      </span>
</footer>
{% endblock %}
